.list-item  li{
    color: rgb(242, 239, 245);
    list-style-type: none;
    display: inline-block;
    border: 1px solid rgb(196, 169, 222);
    padding:  7px;
    width: 150px;
    background-color: rgb(73, 122, 121);

}
.list-item  {
  margin:0px;

}

.list-item-data li{
  color: rgb(242, 239, 245);
  list-style-type: none;
  display: inline-block;
  border: 1px solid rgb(196, 169, 222);
  padding:  7px;
  width: 150px;
  background-color: rgb(73, 122, 121);

}
.list-item-data{
margin-top:15px;

}
.dlt-btn{
  color: white;
  background-color: rgb(120, 187, 189);
}
.dlt-btn:hover{
  background-color: rgb(227, 74, 74);

}